html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.homeBack {
  background-image: url("https://images.pexels.com/photos/951228/pexels-photo-951228.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
  height: 86.6vh;
  width: 100%;
  margin-top: 150px;
}

.navigation {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 150px;
  background-color: white;
}

.logo{
  width: 150px;
}
  
.navItems:hover,
.navItems:active {
  color: white;

}

.homeSearchForm {
  grid-row: 2/3;
  text-align: center;
  vertical-align: center;
}

.homeSearchBar {
  height: 40px;
  border-radius: 10px;
  text-align: center;
  font-family: 'Poiret One', cursive;
  background-color: #cfd9e3;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 7px;
}
   
.homeSearchButton {
  height: 30px;
  border-radius: 10px;
  background-color: black;
  font-family: 'Poiret One', cursive;
  color: white;
}
  
.homeSearchButton:hover {
  animation: shake 0.5s;
  animation-iteration-count: .4;
}

.navLoginContainer{
  padding-right: 5%;
}
  
.loginOnHome {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  font-family: 'Poiret One', cursive;
}

.loginText{
  padding-bottom: 2%;
}

.loginText:hover, .navItems:hover, button:hover, .logo:hover{
  cursor: pointer;
}

.sorry {
  grid-row: 3/4;
  text-align: center;
  color: black;
  font-family: 'Poiret One', cursive;
  text-shadow: 1px 1px 1px black; 
}



@media(min-width: 1150px){
  .homeSearchBar {
    width: 30%;
    font-size: 20px;
  
  }
  
  .homeSearchButton {
    width: 10%;
    font-size: 15px;
  }
  
  
  .sorry {
    font-size: 45px;
  }
}

@media (min-width: 901px) and (max-width: 1150px){
  .logo{
    margin-left: 4%;
  }

  .homeSearchBar {
    width: 30%;
    font-size: 20px;
  }
  
  .homeSearchButton {
    width: 10%;
    font-size: 15px;
  }
  
  .sorry {
    font-size: 45px;
  }
}


@media (min-width: 701px) and (max-width: 900px){
  .logo{
    margin-left: 6%;
  }

  .homeSearchBar {
    font-size: 20px;
  }
  
  .homeSearchButton {
    font-size: 15px;
  }
  
  .sorry {
    font-size: 45px;
  }
}

@media (max-width: 700px) and (min-width: 450px) {
  .logo{
    margin-left: 10%;
  }

  .homeSearchBar {
    width: 60%;
    font-size: 16px;
  }
  
  .homeSearchButton {
    width: 22%;
    font-size: 12px;
  }
  
  .sorry {
    font-size: 20px;
  }

  .loginOnHome {
    font-size: 15px;
  }
}

@media (max-width: 450px) {
  .loginOnHome {
    font-size: 12px;
  }

  .navigation {
    width: 100%;
    height: 80px;
  }

  .logo{
    width: 100px;
  }

  .navItems{
    width: 60px;
  }

  .homeBack{
    margin-top: 80px;

  }
  .homeSearchBar {
    height: 20px;
    width: 70%;
    font-size: 20px;
    font-weight: bold;
  }
  
  .homeSearchButton {
    width: 24%;
    font-size: 12px;
  }

  .sorryImage{
    height: 40px;
  }
}